@tailwind base;
@tailwind components;

.description-item {
  font-size: 14px;
}

.description-item:empty + .description-item {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: -5px;
  font-family: "Noto Sans";
}

th {
  min-width: 100px;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 20px;
}

@tailwind utilities;
